@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {margin:0; padding:0; font-family: 'Chosunilbo_myungjo', sans-serif; line-height:1.3; color:#222;}
ul {list-style: none;}
a {color:inherit; outline: none; text-decoration: none;}
button {cursor: pointer; background:none; border:none;}
.notice {width:100%; padding:2em; background:#fff; text-align: center; border-radius: 20px;}

.inner {max-width: 1400px; margin:0 auto; padding:2em;}

.container {background:#edeff2; font-size:18px}
.header {background:#fff; box-shadow: 0 5px 15px rgba(0,0,0,0.05);}
.header .inner {display: flex; align-items: center; position:relative;}
.header .logo {min-width: 150px; font-size: 2em; font-weight: 800;}
.header .menus {display: flex; gap: 8px; flex-wrap: wrap; transition: 0.3s ease-in-out;}
.header .menus li {padding:10px 20px; background:#edeff2; border-radius: 50px; cursor: pointer; margin:0 0.1em; }
.open-menus,
.close-menus {display: none;}
.header .search-area {position:absolute; right:2em; top:2em; display: flex;}
.header .search-area .input-area { display: none; }
.header .search-area .input-area input {width:140px; height:40px; border:1px solid #c6c6c6; border-radius: 50px; overflow: hidden; padding:2px 6px 2px 10px; font-size: 1em;}
.header .search-area .input-area input:focus {border:none;}
.header .search-area button {background:#212938; color:#fff; border:none; width:40px; height:40px; border-radius: 50px; display: flex; align-items: center; justify-content: center; margin-left: 10px;}
.header .search-area button i {color:#fff;}

.news-area .inner {margin-bottom:2em;}
.news-list {display: flex; flex-wrap: wrap; gap:22px 2%;}
.news-list li {width:30%; background:#fff; padding:1%; border-radius: 40px; box-shadow: 5px 5px 15px rgba(0,0,0,0.05);}
.news-area .img-area {position:relative; overflow: hidden; border-radius: 40px; height:200px; background:#eaeaea;}
.news-area .img-area::after {content:''; width:100%; height:100%; top:0; left:0; position: absolute; background: linear-gradient(rgba(0,0,0,0) 70%, rgba(0,0,0,.7)) }
.news-area .img-area img {width:100%; min-height: 100%; object-fit:cover;}
.news-area .text-area {padding:1em; position:relative; margin-top:0.5em;}
.news-area .text-area .date {position:absolute; top:-2em; right:2em; color:#fff; font-weight: 600;}
.news-area .text-area .title {font-size: 1.3em; margin-bottom:10px; font-weight: 600;white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.news-area .text-area .des { font-size: 1em; color:#7c7c7c; white-space: normal; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;}
.news-area .btn-area {margin-top:25px; display: flex; justify-content: space-between; align-items: center; color:#212938; font-weight: 700; text-transform: uppercase; font-size: 0.8em;}
.news-area .btn-area button {display:inline-block; border:1px solid #7c7c7c; padding:10px 20px; color:#212938; font-weight:700; border-radius: 50px;}

.pagination-nav {padding:3em 0 2em;}
.pagination {display: flex; justify-content: center;}
.pagination li {display:flex; align-items: center; justify-content: center; margin:0 0.4em; width:35px; height:35px; background:#fff; border-radius: 50%; cursor: pointer; color:#7c7c7c;}
.pagination li.active {background:#212938; color:#fff;}

.footer {background:#c5cbd4}




@media all and (max-width: 1250px) {
    .header .inner {flex-direction: column; align-items: flex-start;}
    .header .menus {margin-top:1em;}
}

@media all and (max-width: 1024px) {
    .news-list li {width: 47%;}
    .news-area .img-area {height:23vw;}
}


@media all and (max-width: 767px) {
    .header .logo {min-width: unset;}
    .header .inner {align-items: center;}
    .header .menus {position:fixed; width:60vw; background:#212938; top:0; left:-70vw; margin:0; flex-direction: column; gap:2vw; padding:15vw 5vw 8vw; z-index: 2;}
    /* .header .menus::before {content:'Category'; position:absolute; top:1.7em; left:2em; color:#fff; font-size: 1.4em; text-transform: uppercase;} */
    .header .menus li {padding:2vw 4vw; font-size:1.3em;}
    .open-menus { display:block; font-size: 5.2vw; position:absolute; left:2em; top:50%; transform: translateY(-50%);}
    .close-menus { display: block; font-size: 4vw; position:absolute; right:2em; top:1.5em; color:#fff;}
    .news-list li {width: 98%;}
    .news-area .img-area {height:40vw;}
    .header .search-area .input-area input {width:100px;}
}