html, body {margin:0; padding:0;}
a {color:#222; text-decoration: inherit;}
.head-line {margin-top:1em; display: flex; justify-content: center;}
.menus {margin-top:1em; display: flex; justify-content: center; border-top:1px solid #ebebeb; border-bottom:4px double #000; flex-wrap: wrap;}
.menus button {background:none; border:none; margin:5px;}
.menus button:hover {background: skyblue;}
.news {border-bottom:2px solid #000; padding:1em 0;}
.news span {display:inline-block; margin-right:10px; font-weight: bold; color:gray}
.news-img {width: 100%; max-height: 250px; object-fit: cover;}
.container {padding-bottom:2em;}